* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.header__top {
    height: 10%;
    min-height: 6rem;
    padding: 1%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: clamp(2rem,5vw,5rem);
}

.nav__item {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
}

.nav__item:hover {
    text-decoration: underline;
}

.header__main {
    flex-grow: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(193, 48, 48, 0.5)), url(https://placeimg.com/1920/1080/any);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__text-primary {
    font-size: clamp(2.2rem, 4vw, 5rem);
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: gray; */
}

.main__conteiner {
    width: clamp(31rem, 90%, 120rem);
    display: flex;
    flex-flow: row wrap;
}

.main__conteiner > * {
    flex: 0 0 50%;
    min-width: 27rem;
}

.main__conteiner-image {
    overflow: hidden;
}

.main__image {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.main__conteiner-text {
    align-self: center;
    justify-self: center;
    padding: 2rem;
}

.main__text {
    text-align: justify;
}

.main__invertido {
    order: 1;
}

.footer {
    height: 10%;
    min-height: 6rem;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__title {
    font-size: clamp(1.6rem, 2vw, 2rem);
}

@media screen and (max-width: 600px) {
    .main__conteiner > * {
        flex-basis: 100%;
    }
    .main__invertido {
        order: 0;
    }
}

@media screen and (max-width: 380px) {
    .header__top {
        flex-direction: column;
        justify-content: space-evenly;
    }
}